<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tictactoe.css') }}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <script>
               var name = '{{ name }}';

           </script>
    </head>
   <body>
            <script>
                console.log(name);
            </script>
           {% if date %}


            <h1>Hello {{ name }}, {{ date }}</h1>


            <table style="width:100%" border="1">

            <tr>
                <td> <div><button id="b0"> </button> </div></td>
                <td> <div><button id="b1"> </button> </div> </td>
                <td> <div><button id="b2"> </button> </div> </td>
            </tr>
            <tr>
                <td> <div><button id="b3"> </button> </div> </td>
                <td> <div><button id="b4"> </button> </div> </td>
                <td> <div><button id="b5"> </button> </div> </td>
            </tr>
            <tr>
                <td> <div><button id="b6"> </button> </div> </td>
                <td> <div><button id="b7"> </button> </div> </td>
                <td> <div><button id="b8"> </button> </div> </td>
            </tr>
            </table>

           <script>

                $( "#b0" ).click(function() {
                    update_board(0);
                    get_board();
                    document.location.reload(true);
                });

                $( "#b1" ).click(function() {
                    update_board(1);
                    get_board();
                    document.location.reload(true);
                });

                $( "#b2" ).click(function() {
                    update_board(2);
                    get_board();
                    document.location.reload(true);
                });

                $( "#b3" ).click(function() {
                    update_board(3);
                    get_board();
                    document.location.reload(true);
                });

                $( "#b4" ).click(function() {
                    update_board(4);
                    get_board();
                    document.location.reload(true);
                });

                $( "#b5" ).click(function() {
                    update_board(5);
                    get_board();
                    document.location.reload(true);
                });

                $( "#b6" ).click(function() {
                    update_board(6);
                    get_board();
                    document.location.reload(true);
                });

                $( "#b7" ).click(function() {
                    update_board(7);
                    get_board();
                    document.location.reload(true);
                });

                $( "#b8" ).click(function() {
                    update_board(8);
                    get_board();
                    document.location.reload(true);
                });

                function update_board(id) {
                    console.log(id);

                    $.ajax({
                        url: '{{ url_for('board') }}',
                        type: 'POST',
                        data: JSON.stringify({"grid_id": id, "grid": [' ', 'X', ' ', ' ', ' ', ' ', ' ', ' ', ' '], "winner": ' '}),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            // alert(response);
                            // alert("Undefined thing");
                            console.log("Works");
                        },
                        error: function () {
                            alert("error");
                            // console.log("Undefined?");
                        }
                    });

                    {% if board %}
                    get_board();
                    {% endif %}
                }

                {% if board %}

                get_board();
                {% endif %}

                function get_board() {
                    console.log('Move ID: ' + {{ id }});
                    console.log("getting board");
                    // var props = {{ board }}
                    // var props = JSON.parse({{ board | tojson | safe}});
                    var props_str = JSON.stringify({{ board | tojson | safe}});
                    console.log(props_str);
                    var props = JSON.parse(JSON.parse(props_str));
                    // props = JSON.parse(props);
                    console.log(props);
                    for (i = 0; i < 9; i++) {
                        buttonid = "b" + i;
                        button = document.getElementById(buttonid);
                        console.log(props['grid']);
                        if (props.grid[i] === null || props.grid[i] === " ") {
                            button.value = " ";
                            $("#" + buttonid).prop('value', button.value);
                        }
                        else {
                            button.value = props.grid[i];
                            $("#" + buttonid).prop('value', button.value);
                        }
                        console.log("Updating button");
                        button.innerHTML = props.grid[i];
                        console.log(button.value);
                    }

                    if (props.grid['winner'] === 'X'){
                        console.log("X wins");
                    }
                    else if (props.grid['winner'] === 'O') {
                        console.log("O wins");
                    }
                }

            </script>
           {% else %}
        <form action="/ttt" method="post">
           <p>Name <input type = "text" name = "name" /></p>
            <p><input type = "submit" value = "submit" /></p>
            </form>
          {% endif %}

   </body>
</html>
