<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tictactoe.css') }}">
    </head>
   <body>
       <form action="{{ url_for('index') }}" method="post">
           {% if name %}
            <h1>Hello {{ name }}, {{ date }}!</h1>


            <table style="width:100%" border="1">
            <tr>
                <td> <div id="t1"><button></button> </div></td>
                <td> <div id="t2"><button></button> </div> </td>
                <td> <div id="t3"><button></button> </div> </td>
            </tr>
            <tr>
                <td> <div id="t4"><button></button> </div> </td>
                <td> <div id="t5"><button></button> </div> </td>
                <td> <div id="t6"><button></button> </div> </td>
            </tr>
            <tr>
                <td> <div id="t7"><button></button> </div> </td>
                <td> <div id="t8"><button></button> </div> </td>
                <td> <div id="t9"><button></button> </div> </td>
            </tr>
            </table>

            <script>
                function tableCreate() {
                    var body = document.getElementsByTagName('body')[0];
                    var tbl = document.createElement('table');
                    tbl.style.width = '100%';
                    tbl.setAttribute('border', '1');
                    var tbdy = document.createElement('tbody');
                    for (var i = 0; i < 3; i++) {
                        var tr = document.createElement('tr');
                        for (var j = 0; j < 3; j++) {

                                var td = document.createElement('td');
                                td.appendChild(document.createTextNode('\u0020'))
                                tr.appendChild(td);

                        }
                        tbdy.appendChild(tr);
                    }
                    tbl.appendChild(tbdy);
                    body.appendChild(tbl)
                }
            </script>
           {% else %}
           <p>Name <input type = "text" name = "Name" /></p>
            <p><input type = "submit" value = "submit" /></p>
          {% endif %}
      </form>
   </body>
</html>
